html, body {
  touch-action: manipulation;
}

body {
  background: #111;
  color: #eee;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

.board-wrapper {
  position: relative;
  display: inline-block;
}

#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 75px);
  grid-template-rows: repeat(8, 75px);
  border: 2px solid #888;
}

.square {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 55px; /* Increased from 48px */
  font-weight: normal;
  user-select: none;
}

.white {
  background-color: #f5f5f5;
  color: #000;
}

.black {
  background-color: #888;
  color: #000;
}

.rank-labels {
  position: absolute;
  left: -30px;
  top: 0;
  display: grid;
  grid-template-rows: repeat(8, 75px);
  height: 600px;
  font-size: 14px;
  color: #aaa;
  align-items: center; /* vertical centering */
  text-align: center;
}

.file-labels {
  position: absolute;
  top: 600px;
  left: 0;
  display: grid;
  grid-template-columns: repeat(8, 75px);
  height: 20px;
  font-size: 14px;
  color: #aaa;
  text-align: center;
  line-height: 20px;
  padding-top: 5px; /* lowers the letters slightly */
}

.controls {
  margin-top: 20px;
}

.controls input[type="text"] {
  width: 300px;
  padding: 5px;
  margin-left: 10px;
}

#exportFEN {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #444;
  color: #eee;
  border: 1px solid #888;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
#exportFEN:hover {
  background-color: #666;
}

.copy-icon {
  margin-left: 8px;
  font-size: 18px;
  cursor: pointer;
  vertical-align: middle;
  color: #ccc;
}
.copy-icon:hover {
  color: #fff;
}

